<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<form id="survey-form" class="main-form">

    <div class="survey-section mat-shadow">
      <h2 class="sub-header">Forgot your password?</h2>

      <table class="profile-table">
        <tbody>

          <!-- Validate user input -->
          <tr>
            <td colspan="3">
              <input class="input" type="hidden" name="_csrf" value="csrfTokenGoesHereFromServer">
            </td>
          </tr>
          <tr>
            <td colspan="2">
            <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => 'btn btn-default' %>
              </div>
              </tr>
          <tr>
            <td colspan="2">
            <div class="form-group">
             <%= f.submit "Send me reset password instructions", :class => 'btn btn-default' %>
              </div>
      
          <!-- Back -->
           <tr>
            <td colspan="2">
            <%= link_to '', :back, {:class => 'glyphicon glyphicon-circle-arrow-left'} %>
            </td>
          </tr>
          <td colspan="2">
            <%= render "devise/shared/links" %>
            </td>
        </tbody>
      </table>
    </div>
  </form>

<% end %>
